.itemCardWrapper {
  display: flex;
  gap: 2.6rem;
  align-self: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  img {
    width: 12rem;
    object-fit: contain;
  }

  .teaInfo,
  .cost,
  span {
    font-size: 1.8rem;
  }

  .cost,
  span {
    font-weight: 500;
    text-transform: uppercase;
  }

  .subWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .remove {
      max-width: 8rem;
      width: 100%;
      border: none;
      background-color: transparent;
      text-transform: uppercase;
      font-size: var(--font-main-size);

      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
