.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  background-color: #f6f6f6;
  font-family: 'Montserrat', sans-serif;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  margin: 1rem 0;
  padding: 30px 76px;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #1a1a1a;
  white-space: nowrap;
}

.icon {
  color: #b4a311;
}

.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}
