.collection_section {
  margin-bottom: 2rem;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #333;
  margin-left: 40px;
}

.collections_list {
  list-style: none;
  padding: 0;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0;
}

.tea_item {
  margin: 0;
  padding: 0;
  color: #555;
}

@media (max-width: 768px) {
  .collections_list {
    flex-direction: column;
    gap: 0.5rem;
  }

  .tea_item {
    white-space: normal;
  }
}
