.stepperWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: var(--primary-dark-color);
}

.stepperItem {
  display: flex;
  flex: 1;
  align-items: center;

  .step {
    font-size: var(--font-lg-size);
    text-transform: uppercase;
    white-space: nowrap;
  }

  .line {
    width: 100%;
    max-width: 25rem;
    margin: 0 2rem;
    border: 0.1rem solid var(--outline-color);
  }
}
