.title {
  font-family: var(--secondary-font-family);
  font-size: var(--font-xl-size);
  line-height: 1.25;
  color: var(--primary-dark-color);
  margin: var(--spacing-xl) 0;
  text-align: center;
}
