.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  height: 5.6rem;
  background-color: var(--bg-color-light);
  border: 1px solid var(--outline-color);
}

.icon {
  position: absolute;
  left: 1.2rem;
}

.input {
  width: 100%;
  padding: 1.6rem 1.2rem;
  font-family: var(--primary-font-family), sans-serif;
  font-size: 1.6rem;
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

.toggleButton {
  width: 5rem;
  height: 100%;
  font-family: var(--primary-font-family), sans-serif;
  background-color: var(--secondary-light-color);
  border: none;
  cursor: pointer;
  border-left: 0.1rem var(--outline-color) solid;
}

.error {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  color: var(--error-color);
}
