.iconButton {
  display: flex;
  align-items: center;
  padding: 0;
  color: #1a1a1a;
  background: none;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.iconButton:hover {
  color: #c3b212;
}

.iconButton svg {
  stroke: currentcolor;
}
