.btn {
  justify-content: center;
  width: 100%;
  max-width: 45.6rem;
  padding: 1.8rem 0;
  font-family: var(--primary-font-family), sans-serif;
  font-size: 1.4rem;
  color: var(--primary-light-color);
  text-transform: uppercase;
  background-color: var(--primary-dark-color);
  border: none;
  transition: all 0.4ms ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

@media (width <= 630px) {
  .icon {
    display: none;
  }
}
