.wrapper {
  width: 55rem;
  box-sizing: border-box;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

@media (width <= 825px) {
  .wrapper {
    width: 100%;
    max-width: none;
    padding: 0;
  }
}
