.leftSideWrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 4rem;
}

@media (width <= 825px) {
  .leftSideWrapper {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
