.sortDropdown {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.toggleButton {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: 0.8rem 1.2rem;
  font-size: var(--title-font);
  color: var(--primary-dark-color);
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: var(--gap);
  font-size: var(--card-font);
  background: rgb(255 255 255 / 70%);
  box-shadow: 0 4px 30px var(--box-shadow-color);
  backdrop-filter: blur(12px);

  & > li {
    width: 100%;
  }
}

.menuButton {
  width: 100%;
  padding: 0.5rem;
  color: var(--item-color);
  text-transform: uppercase;
  background: none;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}

.menuButton:hover {
  color: var(--primary-dark-color);
  background-color: var(--secondary-light-color);
}
