@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prosto+One&display=swap');

:root {
  --primary-light-color: #fefefe;
  --primary-dark-color: #282828;
  --secondary-light-color: #f4f4f4;
  --outline-color: #a0a0a0;
  --error-color: #c44141;
  --accent-color: #c3b212;
  --primary-font-family: 'Montserrat';
  --secondary-font-family: 'Prosto One';
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  color: var(--primary-dark-color);
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  background-color: var(--primary-light-color);
}
