@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Prosto+One&display=swap');

html {
  font-size: 10px;
}

:root {
  --background-color: #f4f4f4;
  --link-color: #c3b212;
  --text-color: #282828;
  --button-text-color: #fff;
  --error-text-color: #cb0404;
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Prosto One', sans-serif;
  --font-main-size: 1.6rem;
  --font-lg-size: 2.2rem;
  --font-button-size: 1.2rem;
  --font-error-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-main-size);
  font-weight: 400;
  letter-spacing: 0.03em;
}
