.login-page-wrapper {
  display: flex;
  padding: 0 76px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  width: 100%;
  max-width: 552px;
  height: auto;
  padding: 0 48px;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: 35px;
}

.form-title h2 {
  font-size: var(--font-lg-size);
}

.form-label {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
  background-color: var(--button-text-color);
  border: 1px solid var(--text-color);
}

.form-input {
  flex: 1;
  width: 100%;
  padding: 16px 52px 16px 16px;
  background: transparent;
  border: none;
}

.form-input:focus {
  outline: none;
}

.img-icon {
  width: 20px;
  padding-left: 12px;
}

.sign-in-button {
  padding: 18px 0;
  font-size: var(--font-error-size);
  font-weight: 500;
  color: var(--button-text-color);
  background-color: var(--text-color);
  border: none;
  cursor: pointer;
  margin-bottom: 35px;
}

.form-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
}

.label-wrapper {
  min-height: 84px;
  margin-bottom: 2px;
}

.form-checkbox-label {
  display: flex;
  gap: 8px;
}

.form-checkbox-input {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid var(--text-color);
  cursor: pointer;
}

.form-checkbox-input:checked {
  background-color: var(--text-color);
}

.form-link {
  text-decoration: none;
  color: var(--link-color);
}

.input-error,
.input-warning {
  margin: 4px 0;
  font-size: var(--font-error-size);
  color: var(--error-text-color);
  text-align: start;
}

.toggle-button {
  width: 50px;
  height: 100%;
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
  border-left: 1px var(--text-color) solid;
}
