.carousel {
  width: 50rem;
  aspect-ratio: 1;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
