.optionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem;

  button {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (width <= 825px) {
  .optionsWrapper {
    flex-direction: row;
  }

  button {
    font-size: 1.1rem;
  }
}

@media (width <= 590px) {
  .optionsWrapper {
    flex-direction: column;
  }
}
