.counter {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  max-width: 9.6rem;
}

.counterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  color: var(--primary-dark-color);
  background-color: unset;

  &:disabled {
    pointer-events: none;
  }
}

.count {
  font-size: 2.2rem;
}
